<app-waves>
  <!-- <img
    logo
    #logoRef
    class="logo"
    src="https://yt3.ggpht.com/ytc/AMLnZu-T9OmzlxZrS46ckSWsQNTkPXU8UdogsBt0AZn-vQ=s900-c-k-c0x00ffffff-no-rj"
    alt="logo"
  /> -->
  <h1 title>The Best Title In The World</h1>
  <h3 subtitle>Trust Me</h3>
</app-waves>

<!--
  *** FOR DEMO ***
  
  <h1 title>The Best Title In The World</h1>
  <button title #colorBtnRef>Change Color</button>
-->

<app-waves>
  <h1 title>Hello World</h1>
  <h3 subtitle>This is different!</h3>
</app-waves>
